# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Project specific logs and media
logs.txt
*.ogg
*.wav

# OS specific files
.DS_Store
Thumbs.db

.idea/
